@model UIExample.Controllers.CardModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="height: 500px;padding-top:30px">
    <p>Insert a product for an user. Each user will have their own saga (the userid is the correlation key). </p>


    <div style="width: 100%;float:left;">
        <div style="float: left; width: 400px">
            @using (Html.BeginForm("AddToCard", "Home", FormMethod.Post))
            {
                <div style="float: left">
                    <div style="float: left; width: 100%">
                        <div style="float: left">User:</div>
                        <div style="float: right">
                            @Html.TextBoxFor(model => model.User)
                        </div>
                    </div>
                    <div style="float: left; width: 100%">
                        @Html.ValidationMessageFor(model => model.User)
                        <div style="float: left">Product (Ej: Raspberry PI):</div>
                        <div style="float: right">
                            @Html.TextBoxFor(model => model.Product)
                            @Html.ValidationMessageFor(model => model.Product)
                        </div>
                    </div>
                    <div style="float: left; width: 100%">
                        <button type="submit">Add to card</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <p style="float: left;width: 100%;padding-top:30px">Process the order inserting the userid (the correlation key) </p>

    <div style="float: left;width: 100%;">

        @using (Html.BeginForm("ProcessOrder", "Home", FormMethod.Post))
        {
            <div>User:</div>
            @Html.TextBoxFor(model => model.User)
            @Html.ValidationMessageFor(model => model.User)
            <button type="submit">Process order</button>
        }

    </div>


</div>